{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edition catégories</h1>
    {# Ouverture de la balise form #}
    {{ form_start(form) }}

    {# Bloc de formulaire pour le champ name #}
    {{ form_row(form.name) }}

    <div class="text-right">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <a href="{{ path('app_admin_category_index') }}" class="btn btn-outline-secondary">Retour</a>
    </div>
    {# Fermeture de la balsie form #}
    {{ form_end(form) }}
{% endblock %}

